# Copyrighted commercial books/papers — not ours to redistribute, excluded regardless of
# whether they were useful to the project's research. See research/methodology/index.md and
# session history for why.
Bill Buxton - Sketching User Experiences*.pdf
Carroll, John Millar(Editor) - Human-computer interaction in the new millennium*.pdf
Christopher Reid Becker - Learn Human-Computer Interaction*.pdf
Constantine_Users-Roles-and-Personas_2006.pdf
Dario Calonaci - Designing User Interfaces*.pdf
Erika Erika Hall - Just Enough Research.pdf
Framework of Product Experience.pdf
Gavin Lew, Robert M. Schumacher Jr. - AI and UX*.pdf
Interplay of beauty, goodness and usability in interactive products.pdf
Jenifer Tidwell, Charles Brewer, Aynne Valencia - Designing Interfaces*.pdf
Lean UX 2013.pdf
Nafus, Dawn - Quantified*.pdf
Rochelle King_ Elizabeth F. Churchill_ Caitlin Tan - Designing with Data*.pdf
The  fifth discipline*.pdf
The Fifth Discipline Fieldbook*.epub
Tom Boellstorff, Bonnie Nardi, Celia Pearce, T. L. Taylor - Ethnography and Virtual Worlds*.pdf
UX research _ practical techniques*.pdf
\[Design Thinking ] Cornel Hillmann*.pdf
\[Interactive Technologies] Joseph S. Dumas, Beth A. Loring*.pdf
\[Praise for Interaction Design ] Helen Sharp*.pdf
the-basics-of-ux-design.pdf
thinking in systems audible companion pdf*.pdf

# OS/editor cruft
.DS_Store
